.jumbotron,
#project {
    background-color: rgb(255, 204, 204);
    transition: 0.7s;
}

section {
    padding-top: 5rem;
}

#project:hover .card {
    transform: scale(0.93);
    filter: grayscale(100%);
    transition: 0.7s;
}

#project .card:hover {
    transform: scale(1.03);
    filter: grayscale(0%);
}

a {
    text-decoration: none;
    color: black;
}